/* Definiciones de colores globales */
:root {
  --fundacion-azul: #2F46BA;
  --fundacion-amarillo: #ECEC30;
}

/* Usando los colores en clases específicas */
.fundacion-bg-azul {
  background-color: var(--fundacion-azul);
  color: white; /* Asegúrate de que el texto sea legible */
}

.fundacion-bg-amarillo {
  background-color: var(--fundacion-amarillo);
  color: black; /* Contraste adecuado para legibilidad */
}

.fundacion-text-azul {
  color: var(--fundacion-azul);
}

.fundacion-text-amarillo {
  color: var(--fundacion-amarillo);
}
